       .navbar * {
            background: none;
        }
        .nav-collapse {
            float:right;
            margin-top: 25px;
        }
        .nav a {
            font-family: 'Lato', sans-serif;
            text-transform:uppercase;
        }

        .nav li.active {
            border-bottom: 4px solid #9acd32;
            background-color: transparent;
            box-shadow: none;
        }

        .navbar .nav > .active > a ,
        .navbar .nav > .active > a:focus,
        .navbar .nav > .active > a:hover {
            background-color: transparent;
            box-shadow: none;
        }

        .nav li:hover {
            border-bottom: 4px solid #006699;
        }

        article
        {
            font-family: 'Open Sans', sans-serif;
            line-height: 24px;
        }

        article .body
        {
            text-align: justify;
        }

        article > header {
            margin-bottom: 25px;
        }
        figure img {
            max-height: 200px;
            max-width: 300px;
        }
        .thumbnail {
            margin-left: 0;
            margin-right: 15px;
            line-height: 10px;
        }
        .logos
        {
            float:left;
        }

        p.lead{
            text-align: justify;
        }


        h1, h2, h3 {
            color: rgb(187, 60, 60);
        }

        .thumbnail small {
            text-align: left;
            font-size: 9px;
        }

        .breadcrumb {
            background: transparent;
        }