<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{site.baseurl}}/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->



  </head>

  <body>
        <nav class="navbar">

    <div class="navbar-inner">
        <div class="container">
            <div class="logos">
            <a href="http://www.uni.wroc.pl" class="brand"><img src="http://www.uni.wroc.pl/sites/default/files/image/Kamilla%20SIW/logo%20podstawowe.jpg" alt="Uniwersytet Wrocławski"></a>
            <a href="http://www.uni.wroc.pl" class="brand"><img src="http://zosia2013.pl/static_media/images/logo_ksi.png" alt="Uniwersytet Wrocławski"></a>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <!--<li><a href="/about/">O nas</a></li>-->
                    <li {% if page.site_type == 'news' %}class="active" {% endif %}><a href="{{site.baseurl}}/">Wydarzenia</a></li>
                    <li {% if page.site_type == 'about' %}class="active" {% endif %}><a href="{{site.baseurl}}/about.html">O Nas</a></li>
                    <li {% if page.site_type == 'zosia' %}class="active" {% endif %}><a href="{{site.baseurl}}/zosia/">ZOSIA</a></li>
                    <li {% if page.site_type == 'contact' %}class="active" {% endif %}><a href="{{site.baseurl}}/contact.html">Kontakt</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    </nav>

<!--    <nav class="container">
    <ul class="breadcrumb">
        <li><a href="{{ HOME_PATH }}">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a> <span class="divider">/</span></li>
        <li class="active">Data</li>

    </ul>
    </nav> -->

    <article class="container">
      {{ content }}

    </article>


    <article class="container">

    <footer>
        <p style="text-align: center;">
          &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} </p>


    </footer>

    </article>

  </body>
</html>
